<template>
    <div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Correo electrónico</th>
                <th>Rol</th>
                <th>Opciones</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="usuario in usuarios">
                <td>{{usuario.nombre}}</td>
                <td>{{usuario.email}}</td>
                <td>{{usuario.rol.nombre}}</td>
                <button type="button" class="btn btn-success">Editar</button>
                <button type="button" class="btn btn-danger">Eliminar</button>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>

export default {
    name: "ListarUsuarios",
    props: [
        'routeData',
        'routeEliminar',
        'routeEditar'
    ],
    data() {
        return {
            usuarios: [],
        }
    },
    methods: {
        getData() {
            axios.post(this.routeData, {}).then(response => {
                this.usuarios = response.data.usuarios;
                console.log(response);
            }).catch(error => {
                this.usuarios = [];
                
            })
        },
        editar(id){
            location.href = this.routeEditar + '/' + id;

        },
        eliminar(id) {
            // COMPLETAR
        }
    },
    mounted() {
        this.getData();
    }
}
</script>
